@font-face {
    font-family: 'modern_prestige';
    src: url('fonts/Modern-Prestige.eot');
    src: url('fonts/Modern-Prestige.eot?#iefix') format('embedded-opentype'),
        url('fonts/Modern-Prestige.woff2') format('woff2'),
        url('fonts/Modern-Prestige.woff') format('woff'),
        url('fonts/Modern-Prestige.ttf') format('truetype'),
        url('fonts/Modern-Prestige.svg#modern_prestige') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jmh_typewriter';
    src: url('fonts/JMH-Typewriter-Thin.eot');
    src: url('fonts/JMH-Typewriter-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/JMH-Typewriter-Thin.woff2') format('woff2'),
        url('fonts/JMH-Typewriter-Thin.woff') format('woff'),
        url('fonts/JMH-Typewriter-Thin.ttf') format('truetype'),
        url('fonts/JMH-Typewriter-Thin.svg#jmh_typewriter') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Reviewed*/
body {
    background-image: url('../images/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Reviewed*/
p {
    font-family: "jmh_typewriter", serif;
    font-size: 12px;
}

h2 {
    font-family: "modern_prestige", serif;
    margin: 20px;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 6px;
}

h3 {
    font-family: "jmh_typewriter", serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}

label {
    font-family: "modern_prestige", serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: #020202;
    cursor: pointer;
}

form label{
    font-family: "jmh_typewriter", serif;
    font-size: 14px;
    letter-spacing: 2px;
    color: #020202;
    cursor: pointer;
    display: inline-flex;
    width: 80px;
}
form div{
    padding: 4px;
}
form textarea {
    width: 100%; 
    min-height: 40px; 
    margin-top: 2px;
}

form fieldset {
    border: none;
}
form fieldset:disabled {
    opacity: 0.5;
}
.container {
    margin: auto;
    max-width: 700px;
    height: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: calc(100% - 33px);
}

.image-container img {
    width: auto;
    height: 100%
}


@media (min-width: 768px) {

    body,
    html {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        /* overflow: hidden; */
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 100vh;
        width: 75vw;
        box-sizing: border-box;
        gap: 10px;
    }

    .grid-item {
        display: flex;
        justify-content: center;
        height: calc(50vh - 25px);
    }

    .grid-item a {
        text-decoration: none;
    }
}

.container p,
.container span {
    color: #020202;
    font-family: 'jmh_typewriter', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 20px;
}

.container a {
    text-decoration: underline solid 1px;
    text-decoration-color: #020202;
    text-underline-offset: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.hotel-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 90%;
}

.hotel {
    max-height: 25vh;
    display: flex;
    gap: 20px;
}

.hotel img {
    width: 40%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

div#WIX_ADS {
    display: none  !important;;
}

.hotel-info p{
    padding: 0px;
}

.sub-container {
    display: table;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.sub-container img {
    width: 100%;
    height: auto;
}

.sub-sub-container {
    display: flex;
    flex-direction: column;
}

.sub-sub-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* Side Bar*/
.sidebar {
    font-family: "Bodoni Moda", serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

i.sidebar-icon {
    width: 30px;
}

.sidebar.open {
    opacity: 1;
    visibility: visible;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 20px 20px 0px 20px;
}


.sidebar span {
    font-size: 18px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
    border-radius: 4px;
}



.sidebar a.menu-icon {
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    border-radius: 4px;
    width: 15px
}

.sidebar a.menu-icon:hover {
    padding: 6px 12px;
    text-decoration: none;
    background-color: #575757;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    border-radius: 4px;
    width: 15px
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    /* margin: 6px 0px 0px 13px; */
    /* display: block; */
    cursor: pointer;
    /* position: absolute; */
}

.sidebar-menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.sidebar-menu .menu-icon {
    padding: 5px 9px;
    text-decoration: none;
    color: #575757;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 4px;
}

.sidebar-menu .menu-icon:hover {
    background-color: #575757;
    color: white;
}


/* Responsividade */
@media (max-width: 480px) {
    .grid-container {
        display: block;
    }

    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }

    .image-container img {
        width: 100%;
        height: auto
    }
    .hotel-info p{
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        display: block;
    }

    .container {
        width: 90%;
    }

    .sidebar-menu {
        position: static;
        margin-top: 16px;
    }

    .sub-container {
        flex-direction: column;
        align-items: center;
    }

    .cerimonia-container img {
        max-width: 300px;
    }
}